@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 x0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;

        --selection-background: #fee9f5;
        --selection-foreground: #c2298a;
        --scrollbar-thumb: #e8e8e8;
        --scrollbar-track: transparent;

        --highlight-background: #fffab8;
        --highlight-foreground: #9e6c00;
    }
    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    * {
        --webkit-font-smoothing: antialiased;
        --moz-osx-font-smoothing: grayscale;

        font-variant-ligatures: common-ligatures;
        text-wrap: pretty;
        text-rendering: optimizelegibility;
    }

    *::selection {
        color: var(--selection-foreground);
        background-color: var(--selection-background);
    }

    html {
        scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
        scrollbar-gutter: stable;
        scrollbar-width: thin;
        scroll-behavior: smooth;
    }

    /* Animation */

    @keyframes slideFromDownAndFade {
        0% {
            opacity: 0;
            transform: translateY(12px);
            visibility: hidden;
        }

        1% {
            visibility: visible;
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-slide-from-down-and-fade-1 {
        animation: slideFromDownAndFade 0.6s ease-in-out 0.1s both;
    }

    .animate-slide-from-down-and-fade-2 {
        animation: slideFromDownAndFade 0.6s ease-in-out 0.2s both;
    }

    .animate-slide-from-down-and-fade-3 {
        animation: slideFromDownAndFade 0.6s ease-in-out 0.3s both;
    }

    .animate-slide-from-down-and-fade-4 {
        animation: slideFromDownAndFade 0.6s ease-in-out 0.4s both;
    }

    .animate-slide-from-down-and-fade-5 {
        animation: slideFromDownAndFade 0.6s ease-in-out 0.5s both;
    }

    .animate-slide-from-down-and-fade-6 {
        animation: slideFromDownAndFade 0.6s ease-in-out 0.6s both;
    }

    article {
        h1 + h2 {
            margin-top: 4px !important;
        }

        h1 + p,
        h2 + p {
            margin-top: 8px !important;
        }

        figure + h1,
        p + h1 {
            margin-top: 48px !important;
        }

        p:not(:first-child),
        h1:not(:first-child),
        h2:not(:first-child),
        h3:not(:first-child),
        h4:not(:first-child),
        h5:not(:first-child),
        h6:not(:first-child),
        blockquote:not(:first-child),
        ul:not(:first-child),
        ol:not(:first-child),
        pre:not(:first-child),
        figure:not(:first-child) {
            margin-top: 24px;
        }

        /*
        * This handles our highlighting on selection of a table of contents item.
        */

        [data-highlight] {
            @apply relative;
        }

        [data-highlight]::before {
            @apply absolute inset-0 -inset-x-1 -z-10 bg-transparent transition scale-y-[1.1] content-[""] duration-500;
        }

        /* [data-highlight="true"]::before {
            @apply bg-highlight-background text-highlight-foreground scale-y-110 !important;
        } */

        [data-highlight="false"]::before {
            @apply bg-transparent scale-y-100;
        }

        /* 
        * Here we are setting up the styles for our footnotes and references.
        */

        .footnotes {
            position: relative;
            padding-top: 16px;
            margin-top: 64px !important;
            border-top: 1px solid var(--border);
        }

        .footnotes ol {
            position: relative;
            display: block;
            padding: 0 0 0 4px;
            margin-top: 16px !important;
            list-style: none;
        }

        .footnotes li {
            margin-top: 0 !important;
        }

        .footnotes ol li {
            position: relative;
            padding-top: 4px;
            padding-left: 6px;
            font-size: 12px;
            color: var(--muted);
            counter-increment: list;
        }

        .footnotes ol li::before {
            position: absolute;
            top: 0;
            right: 100%;
            font-size: 8px;
            content: counter(list);
        }

        .footnotes ol li p a {
            z-index: 2;
        }
    }

    /* 
    * We are using rehypye-pretty to style the code blocks in the project.
    * rehype-pretty-code is a Rehype plugin powered by the shiki syntax highlighter that provides beautiful code blocks for Markdown or MDX. 
    * It works on both the server at build-time (avoiding runtime syntax highlighting) and on the client for dynamic highlighting.
    * @see: https://rehype-pretty.pages.dev/
    */

    /* 
    * Here we are setting up the styles needed to enable theme-aware code blocks.
    * @see: https://rehype-pretty.pages.dev/#multiple-themes-dark-and-light-mode
    */

    html {
        code[data-theme*=" "],
        code[data-theme*=" "] span {
            color: var(--shiki-light);
            background-color: var(--shiki-light-bg);
        }

        &.dark {
            code[data-theme*=" "],
            code[data-theme*=" "] span {
                color: var(--shiki-dark);
                background-color: var(--shiki-dark-bg);
            }
        }
    }

    html {
        code[data-line-numbers] {
            counter-reset: line;
        }

        code[data-line-numbers] > [data-line]::before {
            display: inline-block;
            width: 12px;
            margin-right: 2rem;
            color: gray;
            text-align: right;
            content: counter(line);
            counter-increment: line;
        }

        code[data-line-numbers-max-digits="2"] > [data-line]::before {
            width: 1.25rem;
        }

        code[data-line-numbers-max-digits="3"] > [data-line]::before {
            width: 1.75rem;
        }

        code[data-line-numbers-max-digits="4"] > [data-line]::before {
            width: 2.25rem;
        }

        p [data-line] {
            padding: 2px 4px;
            margin-right: 2px;
            margin-left: 2px;
            text-align: center;
            background-color: var(--background) !important;
            border-radius: 4px;
            box-shadow: 0 0 0 1px #e2e8f0;
        }
    }

    * {
        pre {
            padding: 16px;
            overflow-x: auto;
            font-size: 12px;

            [data-line] {
                margin-top: 0 !important;
            }
        }

        figure {
            width: 100%;
            margin-top: 4px;
            border: 1px solid #e2e8f0;
            border-radius: 0.5rem;
        }
    }
}

@layer components {
    .figureWithCodeblock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 384px;
        padding: 48px;
        margin-top: 4px;
        border-color: var(--border);
        border-width: 1px;
        border-radius: var(--radius);

        &[data-with-codeblock="true"] {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;

            & + figure {
                margin-top: 0;
                border-top-width: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
}
